body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/aakashs-c4ebb.appspot.com/o/714shots_so.png?alt=media&token=ca48ea55-bf87-4b9c-9d2a-a909a6f5ee96);
  height: 80%;
  background-size:cover;
}

img {
  max-height: 60px;
  max-width: 30px;
  padding-left: 15px;
}
h1 {
  color: rgba(255, 255, 255, 0.651);
}
section {
  padding: 20px;
  margin: 19vh;
  opacity: 0.95;
}
#form {
  background-color: rgba(11, 53, 49, 0.233);
}
.footer {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 57, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 57, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 57, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
  padding: 5vh;
  margin-top: 20vh;
}

.footer h5 {
  color: #f7efef;
}

.footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
  color: #f7efef;
}

.footer ul li a {
  color: #e6dede;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fdfbfb;
}

.footer p {
  margin-bottom: 0;
  color: #faf8f8;
}
