body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.container {
    width: 100%;
    margin : 0 auto;
    background-color: #ffffffe1;
    padding: 20px;
    box-shadow: 10 2 10px rgba(65, 11, 163, 0.925);
    margin-top: 50px;
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-color: rgb(2, 29, 63);
    border: 1px  solid #0000001f;
    border-radius: 10px;
   
}
h1 {
    color: #2874f0;
    font-family: 'Courier New', Courier, monospace;
}
.profile-section {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;           
}
.profile-info {
    flex: 1;
    margin-right: 20px;
}
.profile-info h2, .upgrade-section h2 {
    margin-bottom: 10px;
}
.profile-info p {
    margin: 5px 0;
}
.profile-image {
    flex: 0 0 150px;
    margin-top: -5vh;
    margin-right: 15vh;
    margin-bottom: 0;
    align-items: flex-start;
    padding-bottom: 10vh;
    
     
}
.profile-image img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #2f0038;
    padding: 2px;
}
.upgrade-section {
    margin-top: 18px;
    padding-right: 2vh;
    margin-top:5vh;
}
 

header nav.navbar {
    background-color: #04101d; 
}

header nav.navbar .navbar-brand {
    color: rgb(253, 253, 253); 
    font-size: 40px; 
    width: 800px; 
    padding-left: 2vh;
    inline-size: 2%;
}

header nav.navbar .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important; 
}

header nav.navbar .navbar-nav .nav-link i {
    margin-right: 5px;  
}
.footer {
    background-color: #04101d; 
    padding: 1vh;     
    padding-top: 25px;
    opacity:.95;
    padding-left: 10vh;    
    margin-top: 10vh;
}

.footer h5 {
    color: #f7efef;
    opacity: 1 !important;
}

.footer ul li {
    list-style-type: none;
    margin-bottom: 10px;
    color: #f7efef;
}

.footer ul li a {
    color: #e6dede;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #fdfbfb;
}

.footer p {
    margin-bottom: 0;
    color: #faf8f8;
}
hr{
    color: white;
}
.container-footer{
    padding-top: 3vh;
    padding-left:120px;
    margin-bottom :10vh;
    
}
.upgrade-section{
    margin-left: 100vh;
    border: bold 0 2  #000000;
    margin-top: 4vh;
    padding-left:-2vh;
    margin-top:  -6vh;
    font-family: monospace;
    
}
#btn{
    border-width: 2px;
    border-color: rgb(2, 29, 63);
    border: 1px  solid #0000001f;
   border-radius: 10px;
    background-color: #ffffff;
    color: red;
    padding: auto;
    margin-left: 6vh;
    padding: 10px 20px;
    cursor: pointer;
}
 #btn:hover{
    background-color: red;
    color: #fdfbfb;
 }